.Poster{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 247);
    
}

.Poster_left{
    width: 30%;
    /* background-color: #fafafccc; */
    /* margin-top: 100px; */
    margin: 0px auto;
}

.Poster_left h1{
    text-align: left;
    font-size: 7vh;   
    width: 40vh;
    margin: 0px auto;
    margin-top: 5vh;
    margin-left: 15vh;
}

.Poster_left h3{
    margin: 0px auto;
    margin-left: 15vh;
    margin-top: 3vh;
    padding: 2px;
    width: 40vh;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}

.Poster_left button{
    width: 22vh;
    height: 7vh;
    background-color: transparent;
    border: 0px solid transparent;
    color: rgb(9, 136, 187);
    font-size: large;
    margin-top: 10px;
    margin-left: 15vh;
}

.Poster_right{
    width: 70%;
}

.Poster_right img{
    width: 100%;
}

.after_poster{
    text-align: center;
    margin-top: 7vh;
    font-size: larger;
    opacity: 0.8;
}

.after_poster input{
    width: 65vh;
    border: 2px solid rgba(0, 0, 0, 0.615);
    border-radius: 10px;
    padding: 1vh;
    margin: 0px auto;
    height: 5vh;
}

/* .Poster img{
    width: 75%;
    float: right;
} */